{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "tailwindConfig": "./apps/web/tailwind.config.mjs",
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }]
}
